body {
  max-width: 43rem;
  margin: auto;
  font-family: Muli, Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #2e2e2e;
}

h1 {
  margin-top: 3rem;
  line-height: 3rem;
  font-size: 2.3rem;
  color: #3d79b4;
  margin-bottom: -0.5rem;
}

h3 {
  font-size: 1.6rem;
  margin-top: 3.5rem;
  color: #2e5379;
}

.topHeading {
  margin-top: 2rem;
}

ol {
  background-color: #f5faff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.1rem;
}

li:not(:first-child) {
  margin-top: 0.5rem;
}

.animation-holder {
  z-index: 2;
}

.graph {
  text-align: center;
  padding-bottom: 3rem;
  max-width: 25rem;
  margin: auto;
  font-size: 0.95rem;
}

.hyperplane {
  stroke: #4b7691;
  stroke-width: 1;
}

.selectedLine {
  stroke: rgb(236, 205, 25) !important;
  stroke-width: 2;
  opacity: 1;
}

.transparent {
  stroke: grey;
  opacity: 0.1;
}

.trueSlope, .learnedSlope, .vpText, .iteration, .error {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 0.9rem;
}

.iteration {
  fill: #7c7c7c;
}

.error {
  fill: rgb(201, 120, 120);
}

.learnedSlope {
  fill: #3d79b4;
}

.trueSlope {
  fill: #3e3e3e;
}


input, button {
  font-size: 1.1rem;
}

a {
  color: #3d79b4;
  background-color: #ecf6ff;
}

button {
  font-size: 0.9rem;
  cursor: pointer;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 9rem;
  border: 0.08rem solid #2c537a;
  border-radius: 2px;
}

button:hover {
  box-shadow: 1px 1px 3px 0 #e7e5e5;
}

.fit-button {
  background-color: white;
  color: #4c739b;
  border-color: #cfcdcd;
}

.fit-button:hover {
  background-color: #ecf6ff;
}

.generate-button {
  background-color: #426b94;
  color: white;
}

.generate-button:hover {
  background-color: #1f4366;
  border-color: #486e94;
}

.slider {
  width: 10rem;
  margin-top: 0.2rem;
  margin-right: 1rem;
}

.input-holder {
  margin-top: 0.75rem;
  color: #353535;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.input-value {
  font-weight: bold;
}

.button-holder {
  margin-top: 1.15rem;
}

.animation-holder {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

.animationSpeed {
  margin-right: 1rem;
  margin-bottom: -0.35rem;
  direction: rtl;
}

.speedLabel {
  margin-right: 1rem;
  font-weight: bold;
}

.speedBg {
  background-color: #ecf6ff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

blockquote {
  font-style: italic;
  background-color: #f9fcff;
  border-left: 0.1rem solid #2c537a;
  padding-left: 0.5rem;
  color: #426b94;
}