body {
  max-width: 45rem;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.graph {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

h1 {
  margin-top: 3.5rem;
}

h3 {
  font-size: 1.8rem;
  margin-top: 3.5rem;
}
input, button {
  font-size: 1.1rem;
}
button {
  cursor: pointer;
}
.input-holder {
  margin-top: 0.75rem;
  color: #353535;
}

input {
  width: 3rem;
}

.k {
  width: 4rem;
}